<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Framework Guru</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Hello</h1>

<h2>Sammu es un Pussy</h2>
<div>
    <span th:text="${message}"></span>
</div>
<div>
    <form action="#" th:action="@{/addUser}" th:object="${User}" method="post">
        <input type="text" th:field="*{name}" />
        <input type="text" th:field="*{surname}" />
        <input type="submit" />
    </form>

</div>
</body>
</html>